html, body {
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
	font-size: 18px;
}

img {
	max-width: 100%;
}
//

section {

	.section-title {
		background: rgb(0, 0, 0);
		color: #fff;
		padding: 0 20px;
		// box-shadow: 0px 0px 6px 3px rgba(50, 50, 50, 0.36);
		h3 {
			font-size: 150%;
		}
	}

	.notification-container {
		.notification-box {
			background: rgba(255, 255, 255, 0.8);
			position: absolute;
			right: 0;
			padding: 0 40px;
			font-size: 90%;
			top: 17px;
			border-radius: 4px;
			box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.36);
			color: #555;
		}
	}
}

.spaces {
	margin: 0 -15px;

	.space {
		height: 200px;
		text-align: center;
		border: 2px solid rgb(0, 0, 0);
		overflow: hidden;
		filter: blur(50%);

		img {
			display: block;
			position: absolute;

			&.garage {
				top: -180px;
			}
		}

		a {
			border-radius: 7px;
			background: #428BCA;
			border: 1px solid #206FB3;
			color: #fff;
			padding: 13px 22px;
			position: relative;
			top: 40px;
		}
	}
}

//

footer {

}

//