.drawer {
	position: fixed;
	left: -200px;
	top: 0;
	z-index: 9;
	width: 200px;
	height: 100%;
	background: rgba(20, 20, 20, 1);
	transition: all 0.4s ease;

	&.open {
		left: 0;
		box-shadow: 1px 0 6px 1px rgba(0, 0, 0, 0.3);
	}

	.menu-button {
		position: absolute;
		top: 14px;
		right: -37px;
		cursor: pointer;
		color: rgb(66, 139, 202);
	}

	.drawer-title {
		background: rgba(255, 255, 255, 0.1);
		padding: 0.1em;

		h3 {
			text-align: center;
			opacity: 0.8;

			img {
				width: 70%;
			}
		}
	}

	.drawer-links {
		margin-top: 80px;

		ul {
			list-style: none;
			padding: 0;

			li {
				padding: 9px 20px;
				color: #ddd;
				margin: 20px 0;
				cursor: pointer;
				transition: all 0.3s ease;

				&:hover {
					background: #ddd;
					color: #333;
				}

				.fa {
					margin-right: 20px;
				}
			}
		}
	}
}