.music {
	.category {
		height: 100%;
		-moz-filter: grayscale(100%);
		transition: all 0.3s;
		
		&:hover {
			filter: grayscale(0);
		}

		&:nth-child(1) {
			background: url(../img/action.jpg) no-repeat;
			background-size: cover;
			background-position: 50%;
		}

		&:nth-child(2) {
			border-left: 2px solid $bg-color-dark;
			border-right: 2px solid $bg-color-dark;

			background: url(../img/endless.jpg) no-repeat;
			background-size: cover;
			background-position: 50%;
		}

		&:nth-child(3) {
			background: url(../img/racing.jpg) no-repeat;
			background-size: cover;
			background-position: 30%;
		}

		.title-container {
			height: 100%;
			background: rgba(0, 0, 0, 0.3);
			width: 70px;
			position: absolute;
			right: 0;

			.bg-title {
				display: block;
				position: absolute;
				-webkit-transform: rotate(-90deg);
				-moz-transform: rotate(-90deg);
				right: -170px;
				top: 45%;
				width: 400px;
				font-size: 300%;
				color: rgba(255, 255, 255, 0.7);
				text-align: center;
			}
		}
	}
}