.soundtracks {
	tr {
		td {
			vertical-align: middle;

			&.play {
				text-align: center;
			}

			i.fa {
				width: 40px;
				height: 40px;
				font-size: 150%;
				text-align: center;
				line-height: 40px;
				cursor: pointer;

				&.fa-play {
					border: 1px solid #333;
					border-radius: 50%;
					padding-left: 4px;
				}
			}
		}
	}
}