#header {
    position: fixed;
    width: 100%;
    background: #000000;
    border-radius: 10px;
    height: 144px;
    z-index: 100;
}

.placeholder {
    height: 144px;
    width: 100%;
}

.logo, .logosub {
    color: white;
    font-size: 40px;
    margin: 0px 0px 0px 0px;
}

.logo {
    postion: absolute;
    margin-left: 68px;
    margin-top: 26px;
    font-family: 'Permanent Marker', cursive;
    width: 247px;
    height: 58px;
}

@font-face {
    font-family: 'Century Gothic Bold';
    src: url(../fonts/century-gothic-bold.ttf);
}

@font-face {
    font-family: 'Century Gothic';
    src: url(../fonts/century-gothic.ttf);
}

.logosub {
    position: absolute;
    left: 327px;
    top: 24px;
    font-family: 'Century Gothic Bold', 'Century Gothic';
    width: 119px;
    height: 49px;
}

.sub {
    margin: 16px 0px 0px 0px;
    background: #d8d8d8;
    height: 44px;
    border-radius: 0px 0px 10px 10px;
    opacity: 0.3;
}

#doublebar {
    position: absolute;
    height: 13.4px;
    width: 34.5px;
    color: white;
    left: 21.5px;
    top: 115.8px;
}

.bcraft {
    margin: 0px 0px 0px 0px;
    position: absolute;
    right: 30px;
    top: 112px;
}

.icons-row {
    padding-top: 0px;
    text-align: right;
    padding-right: 50px;
    word-spacing: 13px;
    margin-top: 30px;
}

.catalog-title {
    position: relative;
    margin-left: 0px;
    margin-top: 90px;
    width: 364px;
    height: 59px;
    background: #424242;
    border-radius: 0px 10px 10px 0px;
}
.catalog-title-text {
    margin: 0px 0px 0px 0px;
    position: absolute;
    width: 315px;
    height:27px;
    right: 10px;
    top:15px;
    font-family: 'Century Gothic';
    font-weight: 500;
    font-size: 22px;
    color: white;
}

#album-art, .divider-bar, #audioplayer {
    position: relative;
    width: auto;
    margin-top: 51px;
    margin-right: 50px;
    margin-left: 50px;
    height: 406px;
    background-color: rgba(83, 146, 219, 0.8);
    background-position: center;
    background-repeat: no-repeat;
}

#album-art {
    background-image: url("../img/default_album_B.png");
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
}

#track-artist-block, #track-title-block, #track-duration-block {
    position: absolute;
    background: rgba(74, 73, 74, 0.7);
    width: 247px;
    height: 57px;
    margin-top:0px;
    top:28px;
    left: 0px;
    text-align: center;
    opacity: 0;
}

#track-title-block {
    width: 298px;
    height: 38px;
    top: 104px;
}

#track-artist, #track-title {
    margin: 0px;
    font-family: Helvetica;
    font-size: 24px;
    color: white;
    margin-top: 12px;
}

#track-title {
    font-style: oblique;
    font-size: 20px;
    margin-top: 6px;
}

.divider-bar {
    margin-top: 0px;
    background: #4a4a4a;
    height: 34px;
}

#analyser_render {
    position: absolute;
    margin-left: 0px;
    background: #4a4a4a;
    opacity: 0.5;
    top: 0px;
}

/*music stuff*/

#audioplayer{
    position: relative;
    margin-top: 0px;
    height: 91px;
    background: white;
    border-color: #424242;
    border-style: solid;
    border-width: 2px;
}

#pButton{
    position: absolute;
    width: 140px;
    height: 89px;
    background-size: 150% 150%;
}


.play-main{
    background: url(../img/play-white.png);
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    outline:none;
}

.pause-main{
    background: url(../img/pause-white.png);
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    outline:none;
}

.play{
    background: url(../img/play.jpg);
    height:18px;
    width: 37px;
    width: 37px;
    border: none;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    outline:none;
}

.pause{
    background: url(../img/pause.jpg);
    height:18px;
    width: 37px;
    border: none;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    outline:none;
}

#timeline, #progress{
    width: auto;
    height: 91px;
    margin-left: 140px;
}

#playhead {
    width: 0px;
    height: 91px;
    margin-top: -90px;
    background: grey;
    border-color: grey;
}

.hidden {
    opacity: 0;
}

#progress {
    height: 89px;
    width: 0px;
    background: grey;
    margin-left:0px;
}

#track-duration-block {
    left: auto;
    right: 0px;
    height: 50px;
    margin: 0px;
    top: 20px;
    z-index: 10;
    width: 130px;
}

#timetext {
    position: absolute;
    font-family: 'Century Gothic', 'Century Gothic Bold';
    font-size: 24px;
    width: 100%;
    text-align: center;
    margin: 0px;
    top: 8px;
    text-align: right;
    padding-right: 10px;
    color: white;
}


#soundtracks {
    margin: 75px 50px 0px 50px;
    padding:0px;
}

td, th {
    font-family: 'Century Gothic', 'Century Gothic Bold';
    font-size: 20px;
    padding: 8px;
}

td {
    border-style: solid;
    border-width: 1px;
}

.clickable {
    cursor: pointer;
}

.custom-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.center {
    text-align: center;
}

.no-border-left, .no-side-borders {
    border-left-width: 0px;
}

.no-border-right, .no-side-borders {
    border-right-width: 0px;
}

.no-border-top, .no-horizontal-borders {
    border-top-width: 0px;
}

.no-border-bottom, .no-horizontal-borders {
    border-bottom-width: 0px;
}

.meta-data {
    width: 15%;
}

.color-2 {
    background-color: #f2f2f2;
}

.color-3 {
    background-color: #d8d8d8;
}

.table-hover > tbody > tr:hover {
  background-color: rgba(83, 146, 219, 0.3);
}

.fontana {
    background-color: white;
}

.JAM {
    background-color: #f2f2f2;
}

.caliphaze {
    background-color: #d8d8d8;
}
#footer {
    position: absolute;
    width: 140px;
    height: 91.3px;
    margin-bottom: 0px;
    left: 153px;
    background-color: #d8d8d8;
    border-radius: 5px;
}