/* line 1, ../sass/_base.scss */
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 7, ../sass/_base.scss */
body {
  font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
  font-size: 18px;
}

/* line 12, ../sass/_base.scss */
img {
  max-width: 100%;
}

/* line 19, ../sass/_base.scss */
section .section-title {
  background: black;
  color: #fff;
  padding: 0 20px;
}
/* line 24, ../sass/_base.scss */
section .section-title h3 {
  font-size: 150%;
}
/* line 30, ../sass/_base.scss */
section .notification-container .notification-box {
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  right: 0;
  padding: 0 40px;
  font-size: 90%;
  top: 17px;
  border-radius: 4px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.36);
  color: #555;
}

/* line 44, ../sass/_base.scss */
.spaces {
  margin: 0 -15px;
}
/* line 47, ../sass/_base.scss */
.spaces .space {
  height: 200px;
  text-align: center;
  border: 2px solid black;
  overflow: hidden;
  filter: blur(50%);
}
/* line 54, ../sass/_base.scss */
.spaces .space img {
  display: block;
  position: absolute;
}
/* line 58, ../sass/_base.scss */
.spaces .space img.garage {
  top: -180px;
}
/* line 63, ../sass/_base.scss */
.spaces .space a {
  border-radius: 7px;
  background: #428BCA;
  border: 1px solid #206FB3;
  color: #fff;
  padding: 13px 22px;
  position: relative;
  top: 40px;
}

/* line 1, ../sass/_drawer.scss */
.drawer {
  position: fixed;
  left: 0px;
  top: 0;
  z-index: 9;
  width: 300px;
  height: 100%;
  background: #141414;
  transform: translate3d(-300px, 0, 0);
}
/* line 11, ../sass/_drawer.scss */
.drawer.open {
  transform: translate3d(0, 0, 0);
}
/* line 15, ../sass/_drawer.scss */
.drawer .menu-button {
  position: absolute;
  top: 14px;
  right: -37px;
  cursor: pointer;
  color: #428bca;
}
/* line 23, ../sass/_drawer.scss */
.drawer .drawer-title {
  background: rgba(255, 255, 255, 0.1);
  padding: 0.5em;
}
/* line 27, ../sass/_drawer.scss */
.drawer .drawer-title h3 {
  text-align: center;
  opacity: 0.6;
}
/* line 31, ../sass/_drawer.scss */
.drawer .drawer-title h3 img {
  width: 75%;
}

/* line 1, ../sass/_header.scss */
header {
  height: 360px;
  position: relative;
  border-bottom: 2px solid #000;
  background: url(../img/ds_logo.svg) no-repeat center center;
  background-size: contain;
}
/* line 8, ../sass/_header.scss */
header .header-title {
  background: #000;
  color: #fff;
  margin: 0 -15px;
  padding: 20px;
  position: absolute;
  top: 30%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 18, ../sass/_header.scss */
header .header-title h2, header .header-title p {
  margin: 0;
}
